menu "GSM PIN CONFIGURATION"

config GSM_TX
    int "UART Output to GSM Module"
    default 17
    range 1 38
    help
	UART Tx pin, connected to GSM Module Rx pin.

config GSM_RX
    int "UART Input from GSM Module"
    default 14
    range 1 38
    help
	UART Rx pin, connected to GSM Module Tx pin.

config GSM_PWR_KEY
    int "Power key pin output"
    default 18
    range 1 38
    help
	PWR KEY pin, connected to GSM Module pwr key.

endmenu

menu "GSM PPPoS CONFIGURATION"

config GSM_DEBUG
    bool "Enable GSM debugging"
    default y
    help
        Show GSM debug messages

config GSM_BDRATE
    int "UART Baud rate"
    default 115200
    help
	UART baudrate to comunicate with GSM module


config GSM_INTERNET_USER
    string "Internet User"
	default "saf"
	help
		Network provider internet user.

config GSM_INTERNET_PASSWORD
    string "Internet password"
	default "data"
	help
		Network provider internet password
		
config GSM_APN
    string "Internet APN"
    default "safaricom"
    help
       Network provider's APN for internet access

endmenu

